:root {
  --max-width: 1100px;
  --border-radius: 8px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /* Paleta de cores */
  --primary-color: #151bc5; /* Azul claro */
  --secondary-color: #f7ef8a; /* Amarelo claro */
  --text-color: #2a363b; /* Cor do texto */
  --accent-color: #e84a5f; /* Vermelho */
  --background-color: #f5f5f5; /* Cor de fundo */

  /* Outros estilos */
  --link-color: var(--primary-color); /* Cor dos links */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent-color);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
}

/* Outros estilos podem ser adicionados conforme necessário */
